@font-face {
  font-family: 'myFont';
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/HelloWorldNoSegfault/HelloWorldNoSegfault.github.io/8f8672e4880e1cd2568d81d4035dd8f831f345fa/SansForgetica-Regular.otf) format('opentype');
}
